*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.ptx
*.cubin
*.linkinfo
*.fatbin
*.log
*.tmp
*.cache
*.swp
*.bak
/build/
/bin/
/lib/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake
.vscode/
*.code-workspace
*.sln
*.vcxproj*
*.user
*.opensdf
*.sdf
*.ipch
*.ncb
*.suo
*.pdb
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

.DS_Store
Thumbs.db

